@charset "utf-8";

body{
    
    overflow-x:hidden; 
}

body::-webkit-scrollbar{
    
    width: 20px;
}

body::-webkit-scrollbar-track{
    
    background-color: red;
}
    
body::-webkit-scrollbar-thumb{
    
    background-color: white;
    border-radius: 10px;
}
   
body::-webkit-scrollbar-button{
    
    background-color: greenyellow;
    height: 20px;
    border-radius: 10px;
}
    

body::-webkit-scrollbar-button:hover{
    
    background-color: yellow;
}

body::-webkit-scrollbar-thumb:hover{
    
    background-color: blue;
    
}